{% extends 'doctor/base.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center mt-2">
{% for message in messages %}

<div class="alert alert-secondary" role="alert">
    {{message}}
  </div>
{% endfor %}
</div>
<div class="container shadow mt-4" style="width: 60%;">
    
    <h3 class="text-center">Create Account</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <div class="text-center">
            <button type="submit" class="btn btn-success mb-3 ">Submit</button>
        </div>
        <b>Already Account?</b>
        <a href="{% url 'doctor-login' %}">Login Here</a>
    </form>
</div>

{% endblock %}